SECRET_RAW=Uagdkq56l9s+UlU+dTP8OfJa3YGvPpWRO6n8buUw+W8=
DB_USER=postgres.lnqfgshlbzstgdvehtn
DB_HOST=aws-1-us-east-2.pooler.supabase.com
DB_DATABASE=database
DB_PASSWORD=w+7hN7mBpYZuZtXWZsZy
DB_PORT=6543
DB_MAX=10
DB_IDLE_TIMEOUT=30000